<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vnightray.acgnmanager.mapper.FavoriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.vnightray.acgnmanager.entity.comic.Favorite">
        <id column="FAVORITE_ID" property="favoriteId" />
        <result column="BOOK_ID" property="bookId" />
        <result column="USER_ID" property="userId" />
    </resultMap>

</mapper>
